<html>
  <head>
    <title>Mapping my activities</title>
  </head>

  <body>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
    <script type="text/javascript" src="https://rawgit.com/jieter/Leaflet.encoded/master/Polyline.encoded.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
    <div id="map" style="width: 100%; height: 100%"></div>

    <script>
    var map = L.map('map').setView([-33.8765827,151.2447865], 13);


    L.tileLayer(
        'http://{s}.google.com/vt/lyrs=m&x={x}&y={y}&z={z}',{
            maxZoom: 20,
            subdomains:['mt0','mt1','mt2','mt3']
        }).addTo(map);


    var encodedRoutes = {{ runs|safe }};

    for (let encoded of encodedRoutes) {
      var coordinates = L.Polyline.fromEncoded(encoded).getLatLngs();

      L.polyline(
          coordinates,
          {
              color: '#E20082',
              weight: 2,
              opacity: .7,
              lineJoin: 'round'
          }
      ).addTo(map);
    }

    var encodedRoutes = {{ rides|safe }};

    for (let encoded of encodedRoutes) {
      var coordinates = L.Polyline.fromEncoded(encoded).getLatLngs();

      L.polyline(
          coordinates,
          {
              color: '#004393',
              weight: 2,
              opacity: .7,
              lineJoin: 'round'
          }
      ).addTo(map);
    }

    var encodedRoutes = {{ swims|safe }};

    for (let encoded of encodedRoutes) {
      var coordinates = L.Polyline.fromEncoded(encoded).getLatLngs();

      L.polyline(
          coordinates,
          {
              color: 'green',
              weight: 2,
              opacity: .7,
              lineJoin: 'round'
          }
      ).addTo(map);
    }

    map.on('draw:created', function (e) {
        var type = e.layerType,
            layer = e.layer;

        layer.on('click', function(){
          window.open('http://www.example.com','_blank');
        });  

        drawnItems.addLayer(layer);
    });

    </script>
  </body>
</html>